/*BASE
------------------------------------------------*/
body {
  color: #a6adb4;
  font-size: 14px;
  font-family: "Helvetica Neue" Helvetica, Arial, sans-serif;
  line-height: 1.7142857143;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

h3 {
  margin-bottom: 10px;
  color: #202124;
  font-weight: bold;
  line-height: 1.6666666667;
}

/*MODULE
------------------------------------------------*/
.morenews {
  margin-top: 60px;
}
.morenews__inner {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}
.morenews__news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.news__list {
  width: 47.5%;
  margin-bottom: 60px;
}
.news__category {
  margin-bottom: 5px;
  color: #fa6980;
  font-weight: bold;
  font-size: 12px;
}
.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.news__time {
  margin-left: 10px;
  font-style: italic;
  font-size: 12px;
}

.btn {
  display: inline-block;
  padding: 13px 43px;
  background-color: #fa6980;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

/*BLOCK
------------------------------------------------*/
.header {
  margin-top: 30px;
}
.header__inner {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.g-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.g-nav__link {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  margin-left: 20px;
  color: #a6adb4;
}

/*-- title-main --*/
.title-main {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ebeded;
  color: #202124;
  font-size: 24px;
  font-weight: bold;
}

.trending {
  background-color: #f6f8f9;
  padding-top: 60px;
}
.trending__inner {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}
.trending__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.trending__item {
  width: 47.5%;
}

.footer {
  background-color: #a6adb4;
}
/*# sourceMappingURL=style.css.map */